.nav {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.right {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}
.button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5%;
  padding: 0.5%;
  font-size: 110%;
  height: 20px;
  background-color: #3287a8;
  color: white;
  border-radius: 10px;
  width: 9%;
}
.button2:hover {
  background: transparent;
  background-color: #3287a8;
  height: 30px;
  width: 12%;
  border-radius: 10px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5%;
  padding: 0.5%;
  font-size: 80%;
  height: 100%;
  width: 9%;
}
.button:hover {
  background: transparent;
  background-color: #34a8eb;
  color: white;
  border-radius: 10px;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
}
.ques {
  font-size: 150%;
  width: 80%;
}
.options {
  width: 40%;
  border-radius: 10px;
  font-size: 130%;
  margin: 1%;
}
