.card {
  padding: 1.5%;
  width: 30%;
  font-size: 130;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: 1em sans-serif;
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-width: 1.5px;
  border-color: #c4c4c4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#dialog2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textarea {
  border-radius: 10px;
  margin: 2%;
  padding: 3%;
  font: 1em sans-serif;
  border-style: solid;
  border-width: 1.5px;
  border-color: #c4c4c4;
  width: 80%;
  height: 50px;
}
.textarea::placeholder {
  font: 1em sans-serif;
}
textarea:focus {
  outline: none !important;
  border-width: 2px;
  border-color: #89baf3;
  border-style: solid;
}
.button {
  border-radius: 10px;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3287a8;
  color: white;
  font-size: 130%;
  font-style: bold;
  width: 80%;
  height: 50px;
}
.error_box {
  color: red;
  font-size: 70%;
}
