<html>
  <head>
    <title>Problemset</title>
    <link rel="stylesheet" type="text/css" href="../styles/problemset.css" />
    <script src="../scripts/question.js"></script>
    <script src="../scripts/problemset.js"></script>
  </head>
  <body style="background: #f0f2f5">
    <dialog
      id="dialog"
      style="
        width: 50%;
        margin-top: 10%;
        background-color: #f4ffef;
        border: 1px dotted black;
      "
    >
      <div
        style="
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 4%;
        "
      >
        <b>VARSITY : </b>
        <textarea
          id="Varsity_name"
          style="margin-left: 5%; margin-right: 5%"
        ></textarea>
        <div onclick="varsity_add()" class="button"><b>Add</b></div>
      </div>
      <div
        id="showvarsity"
        style="
          font-style: bold;
          font-size: large;
          display: flex;
          flex-direction: row;
          justify-content: center;
        "
      ></div>

      <div
        style="
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 4%;
        "
      >
        <b>YEAR:</b>
        <textarea
          id="year_first"
          style="margin-left: 10%; margin-right: 10%"
        ></textarea>
        <b>TO: </b>
        <textarea
          id="year_second"
          style="margin-left: 5%; margin-right: 5%"
        ></textarea>
        <div onclick="year_add()" class="button"><b>Add</b></div>
      </div>
      <div
        id="showyear"
        style="
          font-style: bold;
          font-size: large;
          display: flex;
          flex-direction: row;
          justify-content: center;
        "
      ></div>
      <div
        style="
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 4%;
        "
      >
        <b><p>SUBJECT:</p> </b>
        <button
          id="phy"
          onclick="sub_select('phy')"
          style="width: 20%; margin: 2%; border-radius: 10px"
        >
          <b>PHYSICS</b>
        </button>
        <button
          id="che"
          onclick="sub_select('che')"
          style="width: 20%; margin: 2%; border-radius: 10px"
        >
          <b>CHEMISTRY</b>
        </button>
        <button
          id="math"
          onclick="sub_select('math')"
          style="width: 20%; margin: 2%; border-radius: 10px"
        >
          <b>MATH</b>
        </button>
        <button
          id="bio"
          onclick="sub_select('bio')"
          style="width: 20%; margin: 2%; border-radius: 10px"
        >
          <b>BIOLOGY</b>
        </button>
      </div>
      <button id="filter" onclick="filter()">Filter Problems</button>
      <button id="hide">Close</button>
    </dialog>
    <div>
      <div class="nav">
        <img src="../res/Question_bank.jpg" width="250" height="50" />
        <div
          class="button"
          style="background-color: #325aa8; color: white; border-radius: 10px"
        >
          <b>PROBLEMSET</b>
        </div>
        <div onclick="open_quiz()" id="quiz_page" class="button">
          <b>QUIZ</b>
        </div>
        <div class="right">
          <div onclick="open_profile()" id="name" class="button">
            <b>DEBAPRIYA DHAR</b>
          </div>
          <div onclick="log_out()" class="button"><b>LOG OUT</b></div>
        </div>
      </div>
      <div
        id="filterproblem"
        style="
          color: #325aa8;
          height: 10px;
          width: 500px;
          padding: 0.5%;
          margin: 0.5%;
        "
      >
        <b><u> Filter Problems</u></b>
      </div>
      <div id="lists"></div>
    </div>
  </body>
</html>
