<html>
  <head>
    <title>Problemset</title>
    <link rel="stylesheet" type="text/css" href="../styles/profile.css" />
    <script src="../scripts/profile.js"></script>
  </head>
  <body style="background: #f0f2f5">
    <div class="nav">
      <img src="../res/Question_bank.jpg" width="250" height="50" />
      <div onclick="open_problemset()" id="problemset_page" class="button">
        <b>PROBLEMSET</b>
      </div>
      <div id="quiz_page" class="button"><b>QUIZ</b></div>
      <div class="right">
        <div
          id="name"
          class="button"
          style="
            background-color: #325aa8;
            color: white;
            border-radius: 10px;
            width: fit-content;
          "
        >
          <b>Debapriya Dhar</b>
        </div>
        <div onclick="log_out()" class="button"><b>LOG OUT</b></div>
      </div>
    </div>
    <div
      style="
        margin: 3%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      "
    >
      <div class="photo_container">
        <img
          style="border-radius: 50%"
          src="../res/my_photo.jpg"
          width="30%"
          height="45%"
        />
      </div>
    </div>
  </body>
</html>
