<html>
  <head>
    <title>Problemset</title>
    <link rel="stylesheet" type="text/css" href="../styles/quiz.css" />
    <script src="../scripts/quiz.js"></script>
  </head>
  <body style="background: #f0f2f5">
    <div class="nav">
      <img src="../res/Question_bank.jpg" width="250" height="50" />
      <div onclick="open_problemset()" id="problemset_page" class="button">
        <b>PROBLEMSET</b>
      </div>
      <div
        id="quiz_page"
        class="button"
        style="
          background-color: #325aa8;
          color: white;
          border-radius: 10px;
          min-width: 10px;
        "
      >
        <b>QUIZ</b>
      </div>
      <div class="right">
        <div onclick="open_profile()" id="name" class="button">
          <b>DEBAPRIYA DHAR</b>
        </div>
        <div onclick="log_out()" class="button"><b>LOG OUT</b></div>
      </div>
    </div>
    <div
      style="
        min-height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
      "
    >
      <div class="card">
        <textarea
          id="title"
          class="textarea"
          placeholder="Enter Quiz  Title  "
        ></textarea>
        <textarea
          id="start"
          class="textarea"
          placeholder="Begin Time (BST) eg :- 2022-12-31 23:59:59 "
        ></textarea>
        <textarea
          id="duration"
          class="textarea"
          placeholder="Length eg :- 48:00:00  "
        ></textarea>
        <textarea
          id="q_cnt"
          class="textarea"
          placeholder="Number of question "
        ></textarea>
        <div
          id="v"
          style="
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
          "
        >
          <div
            style="
              display: flex;
              flex-direction: row;
              width: 100%;
              justify-content: center;
              align-items: center;
            "
          >
            <textarea
              id="0"
              class="textarea"
              style="width: 83%"
              placeholder="Enter varsity name  "
            ></textarea>
            <button
              id="new_v"
              style="
                height: 50px;
                width: 7%;
                border: none;
                background-image: url('../res/add.png');
                background-repeat: no-repeat;
                background-size: 100% 100%;
              "
            ></button>
          </div>
        </div>
        <div
          id="y"
          style="
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
          "
        >
          <div
            style="
              display: flex;
              flex-direction: row;
              width: 100%;
              justify-content: center;
              align-items: center;
            "
          >
            <textarea
              id="2000"
              class="textarea"
              style="width: 83%"
              placeholder="Enter year  "
            ></textarea>
            <button
              id="new_y"
              style="
                height: 50px;
                width: 7%;
                border: none;
                background-image: url('../res/add.png');
                background-repeat: no-repeat;
                background-size: 100% 100%;
              "
            ></button>
          </div>
        </div>

        <div
          id="subjects"
          style="
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
          "
        >
          <div
            style="
              display: flex;
              flex-direction: row;
              width: 100%;
              justify-content: center;
              align-items: center;
            "
          >
            <textarea
              id="1000"
              class="textarea"
              style="width: 83%"
              placeholder="Enter Subject  "
            ></textarea>
            <button
              id="new_s"
              style="
                height: 50px;
                width: 7%;
                border: none;
                background-image: url('../res/add.png');
                background-repeat: no-repeat;
                background-size: 100% 100%;
              "
            ></button>
          </div>
        </div>
        <div onclick="submit()" class="button2">
          <b>Submit</b>
        </div>
      </div>
    </div>
  </body>
</html>
